<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Nj Mcl" />
    <!-- Webpage Title -->
    {% if page_title %}
    <title>{{ page_title }}</title>
    {% else %}
    <title>School Management System</title>
    {% endif %}
    {% load static %}
    <!-- Bootstrap CSS -->
    <link
      href="{% static 'bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'fontawesome/css/fontawesome.min.css'%}"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />
  </head>
  <body>
    <div id="root"></div>
    <div>
      {{ datetime|date:"Y-m-d H:i:"}}
    </div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
